
body {
  
  background-color: cyan;

  font-family:arial;
}

.container {
  
  width: 700px;
  
  margin:0 auto;

}

.intro {

  font-size: 50px;
  
  text-align: center;
  
  color:white;

}

ul li {

  list-style: none;

}

.content {

  width: 100%;
  
  background-color: white;
  
  padding: 20px;
  
  border:5px solid purple;
  
  color: RGB(144, 0, 127);

  /* color: #90007F; */
}